div.main {
  width: 90%;
  margin: 0 auto;
  padding-top: 60px;
  box-sizing: border-box;
}
div.main div.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
div.main div.info div.left {
  width: 66.5%;
}
div.main div.info div.left div.box {
  width: 100%;
  padding: 35px 30px 30px;
  box-sizing: border-box;
}
div.main div.info div.left div.box div.top,
div.main div.info div.left div.box div.bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
div.main div.info div.left div.box div.top div.title1,
div.main div.info div.left div.box div.bottom div.title1 {
  display: flex;
}
div.main div.info div.left div.box div.top div.title1 h2,
div.main div.info div.left div.box div.bottom div.title1 h2 {
  margin: 0 199px;
}
div.main div.info div.right {
  width: 33%;
}
div.main div.info div.right div.top {
  padding: 15px 20px 20px;
  box-sizing: border-box;
  width: 100%;
}
div.main div.info div.right div.bottom {
  margin-top: -15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
div.main div.info div.right div.bottom .line {
  margin-left: 30px;
  margin-top: 7px;
  padding-bottom: 11px;
}
div.main div.module div.box {
  padding: 10px 0;
  box-sizing: border-box;
  width: 100%;
}
div.main div.module div.box div.list {
  width: 100%;
}
div.main div.module div.box div.list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
div.main div.module div.box div.list ul li {
  margin-top: 10px;
}
div.main div.module div.box div.list ul li p {
  white-space: nowrap;
  /*文本强制一行显示*/
  overflow: hidden;
  /*文本溢出隐藏*/
  text-overflow: ellipsis;
  /*溢出的文本显示省略号*/
}
div.main div.list div.operation {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
  height: 70px;
  font-size: 16px;
  color: #a0a0a0;
}
div.main div.list div.operation div.time {
  margin-left: -50px;
}
div.main div.contain1 {
  box-sizing: border-box;
  width: 100%;
  height: 1550px;
  margin: 10px auto;
}
div.main div.contain1 div.message {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
div.main div.contain1 div.message div.left {
  min-width: 210px;
  width: 18%;
}
div.main div.contain1 div.message div.left p {
  padding-bottom: 15px;
}
div.main div.contain1 div.message div.left a.title {
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  color: #a0a0a0;
}
div.main div.contain1 div.message div.left div.block3 {
  width: 100%;
  min-height: 215px;
  padding: 30px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #f5f5f5;
}
div.main div.contain1 div.message div.left div.block3 div.list {
  display: flex;
  flex-direction: column;
}
div.main div.contain1 div.message div.left div.block3 div.list .tip1 {
  margin-top: 10px;
}
div.main div.contain1 div.message div.left div.block4 {
  width: 100%;
  min-height: 263px;
  padding: 30px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #f5f5f5;
}
div.main div.contain1 div.message div.left div.block4 .option1 {
  margin-top: 10px;
}
div.main div.contain1 div.message div.left div.block5 {
  width: 100%;
  min-height: 263px;
  padding: 30px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #f5f5f5;
}
div.main div.contain1 div.message div.left div.block5 .option1 {
  margin-top: 10px;
}
div.main div.contain1 div.message div.right {
  min-width: 580px;
  width: 80%;
}
div.main div.contain1 div.message div.right div.title {
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  color: #a0a0a0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
div.main div.contain1 div.message div.right div.title span {
  display: inline-block;
  width: 200px;
  height: 100%;
}
div.main div.contain1 div.message div.right div.title div.mess {
  display: flex;
  justify-content: space-around;
  width: 450px;
  height: 100%;
}
div.main div.contain1 div.message div.right div.container .box-card {
  margin-bottom: 20px;
}
div.main div.contain1 div.message div.right div.container .box-card div.top .text {
  font-size: 14px;
}
div.main div.contain1 div.message div.right div.container .box-card div.top .item {
  margin-bottom: 18px;
}
div.main div.contain1 div.message div.right div.container .box-card div.top .clearfix:before,
div.main div.contain1 div.message div.right div.container .box-card div.top .clearfix:after {
  display: table;
  content: "";
}
div.main div.contain1 div.message div.right div.container .box-card div.top .clearfix:after {
  clear: both;
}
div.main div.contain1 div.message div.right div.container .box-card div.top .box-card {
  width: 480px;
}
div.main div.contain1 div.message div.right div.container div.page {
  display: flex;
  justify-content: center;
}
